<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p class="text-center"><b><i>
        The best color in the whole world is the one that looks good on you. 
        – Coco Chanel
    </i>
    </b>
        <br/>
        <br>
       This website is created to fill the need of fashion experts and people who enjoy high end items.
       Our motto is "Look Good,Feel Good", all any of us want is to feel beautiful but beauty is not just about
       what we look on the outside.<br/> It is more about our confidence, our faith and in being true to ourselves and what we believe in

        <br/>
        <br>
        Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app
        <br/>
    

</div>